* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

// base styles for logo
.logo {
  width: 140px;
  height: 28.354px;

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// base styles for navigation in header and footer
.nav {
  justify-self: end;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__list-item {
    @include Body1;
  }

  &__list-item:hover {
    text-decoration: underline;
  }
}

// base styles fot buttons
.btn {
  padding: 16px 48px;
  min-width: 179px;
  border: none;
  @include btn-font;

  &--white {
    background-color: $white;
  }

  &--yellow {
    background-color: $yellow;
  }
}
