// colors
$black: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$dark-grey: #4c4c4c;
$medium-grey: #6d6e76;
$light-grey: #f4f4f4;
$lavender: #f4f0f8;
$light-yellow: #fbf6ea;
$hover-yellow: #edc14a;
$white: #fff;

// breakpoints
$sm-laptops: 1024px;
$tablets: 768px;
$mobile: 480px;
